{
  "./src/**/*.+(js|json|ts|tsx)": [
    "eslint"
  ],
  "./src/**/*.+(js|ts|tsx)": [
    "jest --bail --findRelatedTests"
  ],
  "./src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": [
    "prettier --write"
  ]
}
